* {
    margin: 0;
    padding: 0;
}

.error-container {  
    margin-top: 10vh;
    text-align: center;
}

.error-container > h1 {
    font-family: 'Roboto';
    color: #579AF2;
}

.error-container > img {
    margin-top: 10vh;
    height: 30vh; 
}

.goto { 
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 680;
}

.goto > p {
    margin-top: 10vh;  
}

.goto:hover {
    text-decoration-line: underline;
    color: #BF9D5E;
}